<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>crime</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>signupnew.jsp</welcome-file>
    <welcome-file>loginnew.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>publicfront.jsp</welcome-file>
    <welcome-file>fir.jsp</welcome-file>
    <welcome-file>Firdetails.jsp</welcome-file>
    <welcome-file>AddCriminal.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.company.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.company.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>com.company.servlet.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet2</display-name>
    <servlet-name>SignupServlet2</servlet-name>
    <servlet-class>com.company.servlet.SignupServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet2</servlet-name>
    <url-pattern>/SignupServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirData</display-name>
    <servlet-name>FirData</servlet-name>
    <servlet-class>com.company.servlet.FirData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirData</servlet-name>
    <url-pattern>/FirData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FIR</display-name>
    <servlet-name>FIR</servlet-name>
    <servlet-class>com.company.servlet.FIR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FIR</servlet-name>
    <url-pattern>/FIR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrimeRecordForm</display-name>
    <servlet-name>CrimeRecordForm</servlet-name>
    <servlet-class>com.company.servlet.CrimeRecordForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrimeRecordForm</servlet-name>
    <url-pattern>/CrimeRecordForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrimeRecords</display-name>
    <servlet-name>CrimeRecords</servlet-name>
    <servlet-class>com.company.servlet.CrimeRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrimeRecords</servlet-name>
    <url-pattern>/CrimeRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MissingReportForm</display-name>
    <servlet-name>MissingReportForm</servlet-name>
    <servlet-class>com.company.servlet.MissingReportForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MissingReportForm</servlet-name>
    <url-pattern>/MissingReportForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MissingTable</display-name>
    <servlet-name>MissingTable</servlet-name>
    <servlet-class>com.company.servlet.MissingTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MissingTable</servlet-name>
    <url-pattern>/MissingTable</url-pattern>
  </servlet-mapping>
</web-app>